@import "bulma/bulma.sass";

.conversation {
	border-radius: $radius-large;
}

.image {
	border-radius: $radius-large;
}

.has-active-border {
	border: solid 1px $primary;
}

.chat-interface {
	display: flex;
	flex-direction: column;
}

.chat-conversation {
	flex-grow: 1;
	overflow-y: scroll;
}
